* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid_container {
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "aside_left main aside_right"
        "footer footer footer";
}

.header {
    grid-area: header;
    background: #4177f6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

.nav {
    grid-area: nav;
    background: #a7c7e7;
    position: fixed;
    left: 0;
    width: 100%;
    height: 50px;
    top: 100px;
    z-index: 999;
}

.nav>.nav_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.nav>.nav_list>li {
    flex: 1;
    text-align: center;
    background: #cce7f6;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
}

.aside_left {
    grid-area: aside_left;
    background: #dcedc8;
    justify-content: center;
}

.main {
    grid-area: main;
    background: #fffcec;
    padding: 10px;
}

.aside_right {
    grid-area: aside_right;
    background: #ffd6e0;
    justify-content: center;
}

.footer {
    display: flex;
    grid-area: footer;
    background: #222;
    color: #fff;
    justify-content: center;
}

.task_list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 0px;
    margin: 0px;
}

.task_list li {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
}


@media screen and (max-width: 768px) {
    body {
        background-color: red;
    }

    .aside_left,
    .aside_right {
        display: none;
    }

    .grid_container {
        grid-template-rows: 80px 40px 1fr 40px;
        grid-template-columns: 100px 1fr 100px;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer";
    }

    .header {
        height: 80px;
        font-size: 1.5em;
    }

    .nav {
        top: 80px;
        height: 40px;
    }

    .task_list ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }

    .aside_right {
        display: none;
    }

    .grid_container {
        grid-template-rows: 90px 45px 1fr 45px;
        grid-template-columns: 150px 1fr 1fr;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "aside_left main main"
            "footer footer footer";
    }

    .header {
        height: 90px;
        font-size: 1.7em;
    }

    .nav {
        top: 90px;
        height: 45px;
    }

    .task_list ul {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1025px) {
        body {
            background-color: green;
        }
    }
}